.additional {
  height: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  transition: 0.5s;
}

.isVisible {
  height: 280px;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 46px 28px;
  color: #303030;
  font-weight: 400;
  font-size: 10px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.value {
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 768px) {
  .isVisible {
    height: 416px;
  }

  .items {
    flex-direction: row;
    padding: 119px 64px 71px 64px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 48px;
  }

  .label {
    letter-spacing: 2.6px;
    font-size: 13px;
  }

  .value {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .label {
    letter-spacing: 3px;
    font-size: 15px;
  }

  .value {
    font-size: 56px;
  }
}
