.timeContainer {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 0 26px 80px 26px;
  flex-grow: 1;
  justify-content: flex-end;
}

.time {
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -2.5px;
  height: 120px;
}

.button {
  margin-top: 48px;
  margin-bottom: 0;
  width: 115px;
  color: #000;
  padding: 3px 3px 3px 17px;
  background: #fff;
  border-radius: 28px;
  box-shadow: none;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button span {
  opacity: 0.5;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3.75px;
}

.arrow {
  width: 32px;
  height: 32px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .timeContainer {
    padding: 0 64px;
  }
  .time {
    font-size: 175px;
    letter-spacing: -4px;
    height: 175px;
  }

  .place {
    font-size: 18px;
    padding-top: 15px;
  }

  .button {
    margin-top: 95px;
    margin-bottom: 77px;
    width: 146px;
  }

  .button span {
    font-size: 16px;
    letter-spacing: 5px;
  }
  .arrow {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .timeContainer {
    min-height: 288px;
    padding: 0 165px 100px 165px;
    position: relative;
  }
  .time {
    font-size: 200px;
    letter-spacing: -5px;
    height: 200px;
  }

  .button {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
  }
}
